<%- include('../partials/header') %>

<h2>Flights</h2>
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departure Date</th>
      
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(m => { %>
      <tr>
        <td><%= m.airline %></td>
        <td><%= m.airport %></td>
        <td><%= m.flightNo %></td>
        <td><%= m.departureDate %></td>
        <td><a href="/flights/<%= m._id %>">DETAILS</a></td>

        
      </tr>
   <% }) %>
  </tbody>
</table>

<%- include('../partials/header') %>
